@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-weight: 400;
    font-family: roboto;
}

body {
    background-color: #23282f;
    overflow-x: hidden;
}
